table {
    border-collapse: collapse;
    border: solid #C0CCDA;
    border-width: 1px 1px 1px 1px;
    width: 80%;
  }
  th{
    background-color: #EFF2F7;
    
  }
  th, td {
    text-align: center;
    padding: 8px;
    color: #47525E;
    font-family: Lato;
    font-size: 16px;
    line-height: 20px;
    width: 220.09px;
  }

  tr:nth-child(even) {background-color: #EFF2F7
    ;}

.box {
  display: block;
  position: relative;
  margin-left: 100px;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: solid #47525E;
    border-width: 1px 1px 1px 1px;
  
}

/* On mouse-over, add a grey background color */
.box:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.box input:checked ~ .checkmark {
  background-color: #47525E;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.box .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}